 #menu{
    color: rgba(255, 255, 255, 0.815);
}

#txt{
    color:white;
    text-align: center;
}

.homepage-txt{
    color:rgb(245, 245, 245);
    text-align: center;
}

#overlay {
    position: relative;
    padding: 50px;
}